### This notebook preprocesses text from a twitter airline sentiment [dataset](https://www.kaggle.com/datasets/crowdflower/twitter-airline-sentiment),<br> in preparation for generating embeddings with a sentence transformer model.

In [54]:
import sys

sys.path.append("../")
import pandas as pd
import numpy as np
import preprocessing.preprocessing as pp

Reading in the raw data:

In [55]:
df = pd.read_csv("../data/raw/twitter_airline_sentiment.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB
None

In [56]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [57]:
df.tail()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

Print number of tweets and number of unique tweets:

In [58]:
print("Number of tweets: ", len(df["text"]))
print("Unique tweets: ", len(set(df["text"])))

Number of tweets:  14640
Unique tweets:  14427

In [59]:
df["original_index"] = df.index
df_nd = df.drop_duplicates(subset=["text"], keep="last", ignore_index=True).copy()
print(len(df_nd))

14427

What do the retweets look like? <br>
Should they be kept?

In [60]:
retweets = [tweet for tweet in df_nd["text"] if "RT" in tweet]
print("Number of retweets in data set: ", len(retweets))
retweets[:10]

Number of retweets in data set:  117

['Nice RT @VirginAmerica: Vibe with the moodlight from takeoff to touchdown. #MoodlitMonday #ScienceBehindTheExperience http://t.co/Y7O0uNxTQP',
 "@VirginAmerica You'd think paying an extra $100 bucks RT for luggage might afford you hiring an extra hand at @sfo #lame",
 "Always have it together!!! You're welcome! RT @VirginAmerica: @jessicajaymes You're so welcome.",
 'ðŸ˜Ž RT @VirginAmerica: Youâ€™ve met your match. Got status on another airline? Upgrade (+restr): http://t.co/RHKaMx9VF5. http://t.co/PYalebgkJt',
 'Awesome! RT @VirginAmerica: Watch nominated films at 35,000 feet. #MeetTheFleet #Oscars http://t.co/DnStITRzWy',
 "@VirginAmerica If you'd love to see more girls be inspired to become pilots, RT our free WOAW event March 2-8 at ABQ. http://t.co/rfXlV1kGDh",
 'Nice RT @VirginAmerica: The man of steel might be faster, but we have WiFi â€“ just saying. #ScienceBehindTheExperience http://t.co/FGRbpAZSiX',
 '@united Pls Help Baby Hannah get the life saving surgeries she requires.She needs your help.Pls Donate/RT http://t.co/kQnrrP86A5',
 'Just sent thank u RT @united: @goodenufmother Please DM your confirmation number if reFlight Booking Problems is needed. Thank you. ^EY',
 "@united thanks! It's 35K miles from RTB to Europe, to do a multiple destination so we could stop over in US on way/way back- mileage diff?"]

Print a random sample of tweets:

In [61]:
[print(tweet) for tweet in df_nd["text"].sample(15, random_state=11)]

@united great to hear Thankyou so much. Greatly appreciate your replies. Feel much more settled now.
@united Tell me that you're at least going to cover a room and get me out of here.
@JetBlue I'm over that honestly just would like to get going on the journey.
@USAirways would like to see you do similar in PHL! http://t.co/n9vGe2nPIB
@SouthwestAir if you are giving tix to #DestinationDragons show would appreciate one or two for LAðŸ˜„Flying from PHL to LAX on Friday
@AmericanAir still waiting on a dm response..... #sloooowresponses
@JetBlue is the trueblue site broken at the moment?
@AmericanAir That's good, I'd expect that but I can't get through on the phone to make any changes. Can I change it online?
@SouthwestAir worst air line ever, you have no compassion of the handicapped
@JetBlue I just wanted to say flight attendant fitz was the best tonight on flight #1326 bwi/Bos. Great guy and made the flight fantastic!
@united no- we are boarding- but why can't your agents, on the phone, taking care of 1K travellers, link reservations?!?!!
@united better train your support staff with appropriate decorum, consider revisiting your terrible "provide a death certificate' policy
@JetBlue When I arrived at the airport, I was told my ticket had been refunded because my name had a fraud alert.
@united my flight is Late Flight due to mechanical issues 3 of 4 flights in past 10 days!
@united I would like to talk to a customer service agent about the service / non service I received on my last flight a a week or so a go.
J

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

### Process tweets through selected preprocessing steps:

In [62]:
text = list(df_nd.text)


# List of text preprocessing functions with specified attributes to be applied. They are applied in the order they are listed.
preprocessing_steps = [
    {
        "name": "remove_emoji",  # Replaces emoji with descriptive words
        "attributes": {"replace": True},
    },
    {"name": "remove_urls"},
    {"name": "remove_html"},
    {
        "name": "remove_symbols",  # Removes all @user and #hashtags
        "attributes": {"symbols": ["@", "#"], "remove_keyword": [True, True]},
    },
    {"name": "replace_curly_quotes"},
    {"name": "remove_whitespace_currency"},
    {"name": "fix_whitespace"},
]

clean_text = pp.clean_text(text, preprocessing_steps)

df_nd["clean_text"] = clean_text

Calling remove_emoji with attributes {'replace': True}

Calling remove_urls
Calling remove_html

/Users/garethsmith/Development/twitter_american_airlines/notebooks/../preprocessing/preprocessing.py:96: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = BeautifulSoup(t, "html.parser")

Calling remove_symbols with attributes {'symbols': ['@', '#'], 'remove_keyword': [True, True]}
Calling replace_curly_quotes
Calling remove_whitespace_currency
Calling fix_whitespace

In [63]:
# Shows a random subset of tweets before and after cleaning

ind = np.random.choice(len(df_nd), 10)

for t, c in zip(df_nd["text"].to_numpy()[ind], df_nd["clean_text"].to_numpy()[ind]):
    print(f"Original: {t}")
    print(f"Cleaned:  {c}")
    print()

Original: @AmericanAir just wow Regina just told me I can't file or request a lost bag statement until I finish my travel.  So until I get to DC argg
Cleaned:  just wow Regina just told me I can't file or request a lost bag statement until I finish my travel. So until I get to DC argg

Original: @USAirways flight 2031, worst experience we've ever had on a flight. Regretting opening their air miles card #hotterandlongerthanhell
Cleaned:  flight 2031, worst experience we've ever had on a flight. Regretting opening their air miles card

Original: @JetBlue *fights air*
Cleaned:  *fights air*

Original: @SouthwestAir and currently as im bringing my 3 year old to the bathroom I'm being rushed by the flight attendant.
Cleaned:  and currently as im bringing my 3 year old to the bathroom I'm being rushed by the flight attendant.

Original: @united or I'm sure her business will go else where for airline travel. Her name is Kathryn Sotelo
Cleaned:  or I'm sure her business will go else where for airline travel. Her name is Kathryn Sotelo

Original: @AmericanAir Supervisor M.Robinson just served a lot of attitude, Cancelled Flighted my flight out of spite, then put me back on on #crazybitch
Cleaned:  Supervisor M. Robinson just served a lot of attitude, Cancelled Flighted my flight out of spite, then put me back on on

Original: @JetBlue can I change my flight if I already printed my boarding pass?
Cleaned:  can I change my flight if I already printed my boarding pass?

Original: Power Moves RT @JetBlue: Our fleet's on fleek. http://t.co/t9s68korSN
Cleaned:  Power Moves RT: Our fleet's on fleek.

Original: @AmericanAir still no response from AA. great job guys!
Cleaned:  still no response from AA. great job guys!

Original: @SouthwestAir Thanks. 436. Only a minor delay so not a big deal. :)Appreciate the concern though. Boarding now. You do have amazing service!
Cleaned:  Thanks. 436. Only a minor delay so not a big deal.:)Appreciate the concern though. Boarding now. You do have amazing service!

Very short tweets are nearly all brief replies, e.g. 'thank you' to operators, but mostly contain too little content to be informative individually. Hence I will remove those of three words or less.

In [64]:
# Look at tweets with 3 words or less
short_tweets = df_nd["clean_text"][df_nd["clean_text"].str.count(" ").lt(3)]
[print(tweet) for tweet in short_tweets.sample(15, random_state=11)]

awesome! Thx
Thanks a ton!
snapchat, iMessage, instagram......
thank you!!
I will. Thanks.
thank you
done thnx
flight number
never again.
Apparently not.
Worst airline ever?
yes, with Delta!
Great, thanks. Followed.
please please please
pathetic service

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [65]:
# Drop tweets with 3 words or less
df_nd = df_nd[df_nd["clean_text"].str.count(" ").gt(2)].reset_index(drop=True)
print(df_nd.shape)

(13854, 17)

In [66]:
save_str = ""
for i in range(len(preprocessing_steps)):
    if preprocessing_steps[i]["name"] == "remove_symbols":
        save_str = (
            save_str
            + "_"
            + preprocessing_steps[i]["name"].split("_")[-1]
            + "".join(preprocessing_steps[i]["attributes"]["symbols"])
        )
    else:
        save_str = save_str + "_" + preprocessing_steps[i]["name"].split("_")[-1]

save_str = save_str + "_3wordtweetdrop"
save_str

'_emoji_urls_html_symbols@#_quotes_currency_whitespace_3wordtweetdrop'

In [67]:
#df_nd.to_csv(
#    f"../data/processed/twitter_airline_sentiment_cleaned{save_str}.csv", index=False
#)